<form class="new-board">
  <label class="title">Board Title</label>
  <input type="text"
         class="title"
         name="board[title]"
         placeholder="Enter Board title">

  <button class="submit">Create Board</button>
</form>
<a href="#">Back to Index</a>