<h3><%= board.escape("title") %></h3>
<button class="board delete" data-id="<%= board.id %>">Delete this board</button>

<div class="row">
  <ul class="list-container group col-xs-12"></ul>
</div>
<a href="/#boards/<%= board.id %>/lists/new">Create New List</a>