<form class="new-list">
  <label class="title">List Title</label>
  <input type="text"
         class="title"
         name="list[title]"
         placeholder="Enter List Title">

  <button class="submit">Create List</button>
</form>
<a href="#">Back to Index</a>
