<a href="#lists/new" class="new-list">Add a List</a>

<form class="new-list inactive">
	<input type="hidden" name="list[board_id]" value=<%= board.id %>>
	<label>Title</label>
	<input type="text" name="list[title]">
	<button class="add-list">Add List</button>
</form>
