/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body, html, ul, li, a {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  background: transparent;
}

body {
  font-family: sans-serif;
  background: #1C5C8D;
  color: #F3F3F3;
}

#main {
  padding-left: 10px;
}

.container {
  width: 2000px;
  overflow: auto;
}

span.delete {
  background: white;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 4px 2px 6px;
  display: none;
  font-size: 16px;
  font-weight: bold;
  float: right;
  color: #AAA;
  border-bottom-left-radius: 4px;
}

a.add-list {
  float: left;
  background: green;
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 0 8px 12px;
  background: #195079;
  width: 250px;
  color: #AEC5D3;
  height: 40px;
  word-wrap: break-word
}
li.card {
  background: white;
  transition: background .05s;
}

li.card:hover {
  cursor: pointer;
  background: rgba(0,0,100,.05);
}

li.card:hover > span.delete {
  display: block;
}

span.delete:hover {
  color: #333;
}
ul {
  list-style: none;
}

ul.board-container {
}

ul.list-container {
  border-radius: 3px;
  float: left;
  padding: 10px;
  color: black;
  height: 800px;
}

li.list-title {
  margin-bottom: 5px;
  background: transparent;
  font-weight: bold;
}

ul.card-container {
  float: left;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  width: 250px;
  background: #DCDCDC;
  margin-bottom: 30px;
  color: black;
//  border: 1px solid orange;
}

li.card {
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  background: #FFFEFE;
  border-bottom: 1px solid #BBB;
  color: black;
  word-wrap: break-word
}

.new-card {
  display: block;
}

div.new-card .inactive {
  display: none;
  background: green;
}

.group:after {
  content: "";
  display: block;
  clear: both;
};